# mac
.DS_Store

# python
__pycache__/
*.pyc

# env
.env

# DB
*.db

# Excel
*.xlsx

# -----------------
# データ管理（重要）
# -----------------

# dataは全部除外
data/

# 例外：解析結果は残す
!data/output/
!data/output/*.csv

# -----------------
# 辞書は必ず残す
# -----------------
!disease_keyword_tate/*.csv

# 一時ファイル
*.log
*.tmp